<BR>
<center>
<FONT size=4>Generador de exámenes ELSAM - Sistema de control, gestión y almacenaje de exámenes</FONT>
<BR>
</center>

<center>
<FONT size=3>Ayuda al profesorado</FONT>
<IMG SRC="imagenes/internet.png" NAME="Inicio" ALIGN=MIDDLE BORDER=0 ALT="">
<IMG SRC="imagenes/asignaturas.png" NAME="Inicio" ALIGN=MIDDLE BORDER=0 ALT="">
<FONT size=3>colegios y academias</FONT><IMG SRC="imagenes/acroread2.png" NAME="Inicio" ALIGN=MIDDLE BORDER=0 ALT="">
<FONT size=3>en la gestión, creación y control de exámenes</FONT>
</center>
