body {
  color            : #5A6770;
  margin-left      : 10px;
  margin-right     : 10px;
  margin-bottom    : 20px;
  padding          : 0px;
  background-color : #FFFFFF;
  font-family      : arial, sans-serif;
  font-size        : 14px;
 
}
td, tr, p, div {
  font-family      : Arial, Helvetica, sans-serif;
  font-size        : 14px;
  color            : #333333;
}
hr {
  color            : #999999;
  height           : 1px;
  width            : 100%;
}


a:link, a:visited {
  font-size        : 14px;
  color            : #473d41;
  text-decoration  : none;
  font-weight      : bold;
}
a:hover {
  font-size        : 14px;
  color            : #c1381a;
  text-decoration  : none;
  font-weight      : bold;
}


ol li { 	
	font-size: 15px;
        margin-left: 2px;
}

textarea{border:1px solid #bdc7d8;}

select{border:1px solid #BDC7D8;font-size:12px;padding:2px;}


<style type="text/css">
.text {border:1px solid #bdc7d8;}
input[type=text] {border:1px solid #bdc7d8;}
.password {border:1px solid #bdc7d8;}
input[type=password] {border:1px solid #bdc7d8;}
</style>


<style type="text/css">
table.formato {
border-width: 1px 1px 1px 1px;
	border-spacing: 10px;
	border-style: solid solid solid solid;
	border-color: blue blue blue blue;
	border-collapse: separate;
	background-color: rgb(250, 240, 230);
	border-left: 1px solid #C1DAD7;
}

table.formato td.formatotd {
	padding: 10px 10px 10px 10px;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	color: #4f6b72;

}

table.formato td.formatotdtop {
	padding: 5px 5px 5px 5px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	color: #4f6b72;
}

table.formato td.formatotdizq {
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	color: #4f6b72;

}

table.formato td.formatotdbottom {
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	color: #4f6b72;

}

table.formato td.formatotdizqtop {
	padding: 5px 5px 5px 5px;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	color: #4f6b72;

}

table.formato td.formatotdizqbottom {
	padding: 5px 5px 5px 5px;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	color: #4f6b72;
}
</style>

.input {
    border: 1px solid #006;
    background: #ffc;
}
.input:hover {
    border: 1px solid #f00;
    background: #ffffff;
}
.button {
    border: 1px solid #770808;
    background: #8f2929;
    border-spacing: 30px;
    color: #ffffff;
    padding: 2px;

}
.button:hover {
    border: 1px solid #770808;
    background: #a61717;
}


.calendar-month {
	margin: 0;
	padding: 0;
	width: 177px;
	background: #A2ADBC;
	color: #fff;	 
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

.thcalendar {
	font: bold 11px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #616B76;
	background: #D9E2E1;
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	border-top: 1px solid #A2ADBC;
}

#cabeceraonline
{
	float:left;
	width:100%;
	height:14em;
	background: white url(../imagenes/cabecera_fnd.png);
	background-REPEAT: no-repeat;
	background-position: left top;	
}